.footer{
  display: flex;
  justify-content: center;
  background-color: $yellow;
  height: 60px;
  padding-top: 25px;
  p{
    padding-right: 90px;
    padding-left: 90px;
    margin-bottom: 10px;
  }
  .footer-link{
    text-decoration: none;
    color: brown;
    font-size: 2.2rem;
  }
  a{
    color: brown;
    font-size: 2.2rem;
  }
}