.display{
  display: flex;

  margin: 10px 0;
  font-family: 'Lato', sans-serif;

  .filters{
    width: 200px;
    padding-left: 10px;
    p{
      font-size: 1.8rem;
      text-decoration: underline;
    }
    span{
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
    legend{
      font-size: 1.4rem;
      display: flex;
    }


  }

  .results{
    justify-content: center;
    line-height: 1.7rem;
    span{
      font-weight: bold;
    }
    h4{
      text-align: right;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: $olive;
    }
    h1{
      font-size: 1.6rem;
      line-height: 2.9rem;
      .rest{
        color: brown;
      }


    }
    h2{
      font-size: 1.5rem;
      line-height: 2.2rem;
      color: $olive;
      margin-bottom: 15px;
    }
    h3{
      font-size: 1.3rem;
      line-height: 1.9rem;
    }
  }

  .result-element{
    background-color: $yellow;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba($yellow, 0.5);
    height: 650px;
    width: 465px;
    padding: 10px;
    margin: 5px;

  }

  .result-img {
    height: 300px;
    width: 463px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  fieldset{
    margin: 10px 0;

  }
  legend{
    font-weight: bold;
  }
}
.search-results{
  display: flex;
  flex-wrap: wrap;
}

.width{
  margin: 0;
  width: 250px;
}