.second {
  margin: 10px 0;
  article{
    width: 290px;
  }
  p{
    font-size: 1.7rem;
    padding-left: 15px;
  }

  .short-wrapper {
    background-color: $yellow;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 rgba($yellow, 0.5);
    height: 450px;
    padding: 10px;
    margin: 5px;
  }

  .short-img {
    background-image: url("../images/background-chillies-color-1435895.jpg");
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .short-info {
    padding: 10px;
  }

  @media screen and (min-width: 600px){
    .shorts{
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;
      margin-right: 10px;
    }
    .short{
      //flex: 0 0 33.3333%;
      padding: 10px;
    }
  }

}

