.third {
  height: 430px;
  height: 1220px;
  .third-link{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 2rem;
  }

  .background-slide1 {
    background-image: url("../images/bar-city-commerce-1058277.jpg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    width: 90%;
    height: 600px;

    p {
      background-color: rgba(255, 255, 255, .7);
      color: white;
      height: 50px;
      padding-top: 12px;
      text-align: right;
      padding-right: 40px;
    }
  }

  .background-slide2 {
    background-image: url("../images/alcohol-architecture-bar-260922.jpg");
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    width: 90%;
    height: 600px;

    p {
      background-color: rgba(255, 255, 255, .7);
      color: white;
      height: 50px;
      padding-top: 12px;
      text-align: right;
      padding-right: 40px;
    }
  }
}